<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地址列表</title>
    <link rel="stylesheet" href="/css/Element.css">
    <style>
        .el-input{
            width: 150px;
        }
        .el-pagination{
            margin-left: 260px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-descriptions title="地址列表"></el-descriptions>
    <div>
        <el-button type="" @click="addAddress()">添加地址</el-button>
        <el-button type="" @click="returnAdmin">返回到管理员页面</el-button>
    </div>

    <el-table :data="addressList" border style="width: 53%" v-loading="loading">

        <el-table-column prop="id" label="地址id" width="120">
        </el-table-column>
        <el-table-column prop="consignee" label="收货人" width="120">
        </el-table-column>
        <el-table-column prop="tel" label="联系电话" width="120">
        </el-table-column>
        <el-table-column prop="address" label="地址" width="120">
        </el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="120">
        </el-table-column>
        <el-table-column prop="remark" label="备注" width="120">
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="150">
            <template slot-scope="scope">
                <el-button @click="modifyAddress(scope.row.id)" type="text" size="small">修改</el-button>
                <el-button @click="delAddress(scope.row.id)" type="text" size="small">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <div class="block" width="100">
        <el-pagination layout="prev, pager, next" :total="totalCount" :page-size="pageSize" @current-change="getAddressList">
        </el-pagination>
    </div>
</div>
</body>
<script src="/js/vue.min.js"></script>
<script type="module" src="/js/axios.js"></script>
<script src="/js/Element.js"></script>
<script type="module" src="/util/admin/address/addressDetail.js"></script>
</html>