<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地址列表</title>
    <link rel="stylesheet" href="/css/Element.css">
    <style>
        .el-descriptions{
            margin-left: 510px;
            font-size: 30px;
        }
        .proName{
            margin-left: 278px;
            margin-bottom: 10px;
        }
        .el-input{
            width: 150px;
        }
        .el-pagination{
            margin-left: 260px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-descriptions title="商品列表"></el-descriptions>
    <div class="proName">
        <span style="font-size: 16px;">商品名：</span>
        <el-input v-model="product.name" placeholder="请输入商品名"></el-input>
        <template>
            <el-select v-model="brandName" placeholder="请选择品牌名">
                <el-option lable="请选择" value="">
                </el-option>
                <el-option
                        v-for="brand in brandList"
                        :key="brand.id"
                        :label="brand.name"
                        :value="brand.name">
                </el-option>
            </el-select>
        </template>
        <template>
            <el-select v-model="categoryName" placeholder="请选择分类名">
                <el-option lable="请选择" value="">
                </el-option>
                <el-option
                        v-for="category in categoryList"
                        :key="category.id"
                        :label="category.name"
                        :value="category.name">
                </el-option>
            </el-select>
        </template>
        <el-button type="" @click="getProList(currentPageCount,pageSize,product.name,brandName,categoryName)">查询</el-button>
        <el-button type="" @click="addPro()">添加商品</el-button>
    </div>

    <el-table :data="addressList" border style="width: 67%" v-loading="loading">

        <el-table-column prop="id" label="地址id" width="120">
        </el-table-column>
        <el-table-column prop="userName" label="用户名称" width="120">
        </el-table-column>
        <el-table-column prop="address" label="地址" width="120">
        </el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="120">
        </el-table-column>
        <el-table-column prop="isDefault" label="是否为默认地址" width="120">
        </el-table-column>
        <el-table-column prop="remark" label="备注" width="120">
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="150">
            <template slot-scope="scope">
                <el-button @click="viewAddress(scope.row.id)" type="text" size="small">查看</el-button>
                <el-button @click="modifyAddress(scope.row.id)" type="text" size="small">修改</el-button>
                <el-button @click="delAddress(scope.row.id)" type="text" size="small">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <div class="block" width="100">
        <el-pagination layout="prev, pager, next" :total="totalCount" :page-size="pageSize" @current-change="getAddressList">
        </el-pagination>
    </div>
</div>
</body>
<script src="/js/vue.min.js"></script>
<script type="module" src="/js/axios.js"></script>
<script src="/js/Element.js"></script>
<script type="module" src="/util/addressDetail.js"></script>
</html>