<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改地址</title>
    <link rel="stylesheet" href="/css/Element.css">
</head>
<body>
<div id = "app">
    <el-descriptions title="修改地址"></el-descriptions>
    <el-form :model="form" :rules="rules" ref="form" label-width="80px">
        <el-form-item label="收货人" prop="consignee">
            <el-input id = "consignee" v-model="form.consignee" placeholder="请填写收货人"></el-input>
        </el-form-item>
        <el-form-item label="联系电话" prop="tel">
            <el-input id = "tel" v-model="form.tel" placeholder="请填写联系电话"></el-input>
        </el-form-item>
        <el-form-item label="收货地址">
            <el-row>
                <el-col :span="8">
                    <el-form-item label-width="0" label="" prop="region1" style="margin-bottom:0;">
                        <el-select class = "arriveClass" v-model= "form.region1" placeholder="请选择省" @change = "provinceChange($event)">
                            <el-option v-for="(item, index) in form.provinceList" :key="item.name" :value="item.name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="7" :offset="1">
                    <el-form-item label-width="0" label="" prop="region2" style="margin-bottom:0;">
                        <el-select class = "arriveClass" v-model="form.region2" placeholder="请选择城市" @change = "cityChange($event)">
                            <el-option v-for="(item, index) in form.cityList" :key="index" :value="item.name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="7" :offset="1">
                    <el-form-item label-width="0" label="" prop="region3" style="margin-bottom:0;">
                        <el-select class = "arriveClass" v-model="form.region3" placeholder="请选择区县">
                            <el-option v-for="(item ,index) in form.countyList" :key="index" :value="item.name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form-item>
        <el-form-item label="详细地址" prop="xxarrive">
            <el-input id = "xiangxiArrive" v-model="form.xxarrive" placeholder="请填写详细地址确保收货地址准确无误"></el-input>
        </el-form-item>
        <el-form-item label="备注">
            <el-input id = "remark" v-model="address.remark" placeholder="请填写备注"></el-input>
        </el-form-item>
        <el-form-item label="默认地址">
            <el-radio-group v-model="address.isDefault">
                <el-radio :label="1">是</el-radio>
                <el-radio :label="0">否</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit()">确认修改</el-button>
            <el-button @click="quxiao()">取消</el-button>
            <el-button @click="resetForm">重置</el-button>
        </el-form-item>
    </el-form>
</div>
</body>
<script src="/js/vue.min.js"></script>
<script type="module" src="/js/axios.js"></script>
<script src="/js/Element.js"></script>
<script type="module" src="/util/admin/address/modifyAddress.js"></script>
</html>